@use 'boilerplate';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/variables-dark';
@import '../../node_modules/bootstrap/scss/maps';
@import '../../node_modules/bootstrap/scss/utilities';
@import '../../node_modules/bootstrap/scss/root';

@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/nav";

.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Outfit', boilerplate.$font-sans-serif!important;
    background: transparent;
    button.d-button {
        width: 75%;
    }
    button.d-button-secondary {
        width: 25%;
    }
    @include media-breakpoint-up(lg) {
        .container-fluid .collapse form.d-flex {
            button {
                width: auto!important;
            }
        }
    }
    background: rgba(0,0,0,.03);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1;
}

// Button
a.d-button, a.d-button-secondary {
    text-align: center;
    text-decoration: none;
}
.d-button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #0070e0;
    background: #007FFF;
    color: white;
    font-family: 'Outfit', boilerplate.$font-sans-serif;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition: 0.2s;
    font-weight: 200;
    &:hover {
        background: #0079f1;
    }
    &:active {
        box-shadow: none;
        background: #0070e0;
    }
}
.d-button-secondary {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #007FFF;
    color: black;
    background: white;
    font-family: 'Outfit', boilerplate.$font-sans-serif;
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    font-weight: 200;
    &:hover {
        background: $gray-100;
    }
    &:active {
        box-shadow: none;
    }
}

// Progress bar
.progress {
    position: relative;
    height: 7px;
    width: 100%;
    margin-top: 10px;
    .progress-bar {
        background-color: #007FFF;
    }
}

// General
.v-stack {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    * {
        width: 100%;
    }
}

.d-a {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-weight: 600;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    transition: 0.1s;
    color: rgb(13,110,253);
    border-bottom: 0;
    font-size: 20px;
    padding-left: 0!important;
    gap: 5px;
    text-decoration: none;
    padding-bottom: .05em;
    
    &:hover {
        border-bottom: 3px solid rgba(13, 109, 253, 0.692);
        color: rgb(10,88,202);
        gap: 10px;
    }
    .d-a-a {
        color: rgb(57, 133, 247);
    }
}

*[hidden] {
    display: none;
}

*[show] {
    display: initial;
}

// Video stuff
video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}
