@use 'main';
@use 'boilerplate';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

// Functions first
@import "../../../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #0070e0;
$enable-shadows: true;
$prefix: "d-";

// Required Bootstrap imports
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";

// Optional components
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/helpers";
@import "../../../node_modules/bootstrap/scss/utilities/api";

@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";

body {
    padding: 0!important;
}

.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Outfit', boilerplate.$font-sans-serif!important;
    background: transparent;
    .container-fluid .collapse form.d-flex {
        button.d-button {
            width: 75%;
        }
        button.d-button-secondary {
            width: 25%;
        }
    }
    @include media-breakpoint-up(lg) {
        .container-fluid .collapse form.d-flex {
            button {
                width: auto!important;
            }
        }
    }
    background: rgba(0,0,0,.03);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1;
}
.container-sm {
    padding-top: 2em;
    font-family: 'Outfit', boilerplate.$font-sans-serif!important;
}
