@use 'main';

$primary: #337def;
$secondary: #fcc729;

body {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    display: flex;
    span {
        text-decoration: underline;
        font-size: 2em;
        margin: 0 -1px;
        color: $secondary;
        height: auto;
    }
    .D {
        font-size: 2.3em;
        color: $primary;
        border: 0;
        text-decoration: none;
    }
    .h {
        transform: rotate(25deg) translateY(3px);
        margin-left: 10px;
        border: 0;
        // text-decoration: none; // Good idea?
    }
}
.favicon {
    transform: rotate(25deg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent!important;
    text-shadow: 3px 3px 0px $primary, 6px 6px 0px $secondary;
}
