@use 'main';
@use 'boilerplate';

@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/variables-dark';
@import '../../../node_modules/bootstrap/scss/maps';
@import '../../../node_modules/bootstrap/scss/utilities';
@import '../../../node_modules/bootstrap/scss/root';

@import "../../../node_modules/bootstrap/scss/progress";
@import "../../../node_modules/bootstrap/scss/toasts";

@import "../../../node_modules/bootstrap/scss/forms";

.login-heading {
    margin-top: 0;
    text-align: center;
}
.logo {
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: row;
    box-shadow: $box-shadow-sm;
    .input-group-text {
        width: auto;
        border: 0;
        background: white;
        border-bottom: 2px solid #dee2e6;
    }
    input {
        outline: none;
        font-family: 'Outfit', boilerplate.$font-sans-serif!important;
        border: 0;
        border-bottom: 2px solid #dee2e6;
    }
}
.v-stack {
    gap: 2em;
}
.login-button {
    font-size: 1.5em;
}
.login-button[disabled] {
    background: $gray-600;
    border: 1px solid $gray-700;
    cursor: not-allowed;
    &:hover {
        background: $gray-600;
        border: 1px solid $gray-700;
        box-shadow: 0;
    }
}
.register-prompt {
    margin-top: -1em;
    display: initial;
    font-size: 17px;
    width: auto!important;
    text-align: left;
    left: 0;
    position: relative;
}
.check-box {
    $check-box-margin: -5px;
    margin-top: $check-box-margin;
    margin-bottom: -15px;
    padding-left: 0;
}

input.error {
    border-bottom: 2px solid $red;
}
label.error {
    color: $red!important;
    margin-top: 52px;
    padding-left: 0;
    background: transparent;
    border: 0;
    z-index: -1;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.error1 {
    color: $red;
    padding-left: 0;
    padding-top: 5px;
    margin-left: -5px;
    background: transparent;
    border: 0;
    z-index: -1;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.login-wrapper {
    height: 100%;
    width: 100%;
    max-width: 500px;
    max-height: 560px;
    overflow: auto;
    background: white;
}
.background {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    object-fit: cover;
}


// Desktop time
@include media-breakpoint-up(sm) {
    .login-wrapper-wrapper {
        display: flex;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        & * {
            width: 100%;
        }
    }
    .login-wrapper {
        padding: 25px;
        border: 2px solid #dee2e6;
        border-radius: 1em 0 0 1em;
        box-shadow: 0 1rem 6rem 20px rgba(0, 0, 0, 0.175);
    }
    .background {
        display: block;
    }
    body {
        padding: 0;
    }
    
}

@include media-breakpoint-up(lg) {
    .login-wrapper {
        padding: 25px;
        margin-left: 10%;
        & * {
            width: 100%;
        }
        border: 2px solid #dee2e6;
        border-radius: 1em 0 0 1em;
    }

    .login-wrapper-wrapper {
        display: flex;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: baseline;
        flex-direction: column;
        & * {
            width: 100%;
        }
    }
}
